.join {
    display: inline-block;
    border-radius: 4px;
    background-color: #000000;
    border: 2px solid #ffffff;
    border-radius: 0;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: help;
    margin: 5px;
    font-family: 'VT323', monospace;;
  }
  
  .join span {
    cursor: help;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .join span:after {
    content: '    \00bb\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .join:hover span {
    padding-right: 25px;
  }
  
  .join:hover span:after {
    opacity: 1;
    right: 0;
  }

          /* SHARE */
  