@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
/* github pls actually work please im angry!!! */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    }
body {
    background-color: black;
    }

p {
    color: white;
    font-family: 'VT323', monospace;
    }


