
/* github pls actually work please im angry!!! */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    }
body {
    background-color: black;
    }

p {
    color: white;
    font-family: 'VT323', monospace;
    }


